html, body {
    height: 100%;
    overflow-x: hidden;
}

.congo-hero {
    background-color: transparent;
    color: #eeeeee;
}

.congo-background {
    position: fixed;
    display: block;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;

    height: 100%;
    width: 120%;
    background-image: url("/static/hero.jpg");
    background-size: 100%;

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);

    z-index: -1;
    overflow: hidden;
}

.congo-info, .congo-info:visited, .congo-info:focus, .congo-info:hover {
    color: #9d9d9d!important;
    outline: none;
}

.congo-black-team, .congo-white-team {
    overflow-y: auto;
    max-height: 320px;
}

.congo-votes-others {
    overflow-y: auto;
    max-height: 250px;
}

.congo-note-type {
    color: #bbbbbb;
}

.congo-learn-more, .congo-learn-more:visited, .congo-learn-more:focus {
    color: #eeeeee;
    outline: none;
    text-decoration: underline;
}

.congo-hero > .container {
    position: absolute;
    top: 30%;
    left: 15px;
    transform: translateY(-50%);
    background-color: transparent;
}

.congo-footer {
    position: fixed;
    right: 15px;
    bottom: 10px;
    font-size: 10px;
    color: #eeeeee;
}

.v-pad-1 {
    margin-top: 10px;
}

@-moz-document url-prefix() {
    .ff-board-info-fix {
        /* firefox renders board correctly, which isn't normal */
        margin-top: 20px !important;
    }
}

.header-offset {
    height: 65px;
}

.congo-vote-dialog {
    margin-top: 65px;
    width: 100%;
}

.congo-vote-dialog {
    pointer-events: none;
}

.congo-vote-dialog div.modal-content {
    pointer-events: initial;
}

.pass-vote {
    border: solid 2px #007700;
}

@media screen and (max-width: 768px){
    #congo-vote-modal div.modal-content {
        background-color: rgba(255, 255, 255, 0.7);
    }
    #congo-vote-modal div.modal-content textarea {
        background-color: rgba(255, 255, 255, 0.3);
    }
    #congo-vote-modal div.modal-content button {
        opacity: .7;
    }
}

.congo-stats-container {
    width: 100%;
}

.chat-body {
    overflow-y: auto;
}

@media screen and (max-width: 768px){
    .chat-body {
        max-height: 420px;
    }
}

@media screen and (min-width: 768px){
    .chat-body {
        max-height: 188px;
    }
}

@media screen and (min-width: 992px){
    .chat-body {
        max-height: 236px;
    }
}

@media screen and (min-width: 1200px){
    .chat-body {
        max-height: 255px;
    }
}

.chat-line {
    padding-left: .5em;
    text-indent: -.5em;
    word-wrap: break-word;
}


/* bootstrap overrides */

a, a:visited, a:-webkit-any-link {
    text-decoration: none !important;
}

textarea {
    resize: none;
}

form {
    margin-bottom: 0px;
}

dd {
    margin-bottom: .25em;
}

.panel {
    margin-bottom: 10px;
}

.panel-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table>tbody>tr>td {
    padding-left: 15px;
}

.text-muted {
    cursor: not-allowed !important;
}
