html, body {
    height: 100%;
    overflow-x: hidden;
}

.congo-hero {
    background-color: transparent;
    color: #eeeeee;
}

.congo-background {
    position: fixed;
    display: block;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;

    height: 100%;
    width: 120%;
    background-image: url("/static/hero.jpg");
    background-size: 100%;

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);

    z-index: -1;
    overflow: hidden;
}

.congo-hero > .container {
    position: absolute;
    top: 30%;
    left: 15px;
    transform: translateY(-50%);
    background-color: transparent;
}

.congo-footer {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.v-pad-1 {
    margin-top: 10px;
}

@-moz-document url-prefix() {
    .ff-board-info-fix {
        /* firefox renders board correctly, which isn't normal */
        margin-top: 20px !important;
    }
}

.header-offset {
    height: 65px;
}

.congo-vote-dialog {
    margin-top: 65px;
    width: 100%;
}

.congo-vote-dialog {
    pointer-events: none;
}

.congo-vote-dialog div.modal-content {
    pointer-events: initial;
}

.pass-vote {
    border: solid 2px #007700;
}

@media screen and (max-width: 768px){
    .congo-vote-dialog-bottom {
        position: fixed;
        bottom: 15px;
    }
}

textarea {
    resize: none;
}

form {
    margin-bottom: 0px;
}

dd {
    margin-bottom: .25em;
}
