html, body {
    height: 100%;
    overflow-x: hidden;
}

.congo-hero {
    background-color: transparent;
    color: #eeeeee;
}

.congo-background {
    position: fixed;
    display: block;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;

    height: 100%;
    width: 120%;
    background-image: url("/static/hero.jpg");
    background-size: 100%;

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);

    z-index: -1;
    overflow: hidden;
}

.congo-hero > .container {
    position: fixed;
    top: 30%;
    left: 15px;
    transform: translateY(-50%);
    background-color: transparent;
}

.v-pad-1 {
    margin-top: 10px;
}

.header-offset {
    height: 65px;
}
