$def with (page)
<html>
<head>
    <title>Con Go Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
    <link href="/static/congo.css" rel="stylesheet"/>
    <link href="/static/board.css" rel="stylesheet"/>
    <link rel="icon" href="/static/favicon-152.png" sizes="152x152">
</head>
<body>
    <div class="congo-background">
    </div>
    $:page
    $:{render.info()}
    <div class="congo-footer">
        © 2015 Jay Chan. All rights reserved.
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="/static/congo.js"></script>
    $if page.has_key('deferjs'):
        $:page.deferjs
</body>
</html>
