<div id="congo-chat-container">
    <div class="chat-body"></div>
    <form class="v-pad-1" id="congo-chat-form">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9">
                <input type="text" class="form-control input-sm" placeholder="Type a message..." autocomplete="off" name="message"></input>
            </div>
            <div class="col-sm-4 col-md-3 hidden-xs">
                <button type="submit" class="btn btn-primary btn-sm">Send</button>
            </div>
        </div>
    </form>
</div>
