<header class="navbar navbar-fixed-top navbar-default" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bagpa-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" class="navbar-brand">
                ConGo
            </a>
        </div>
        <nav class="collapse navbar-collapse bagpa-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs">
                    <p class="navbar-text">Logged in as ${ web.ctx.user.name }</p>
                </li>
                <li>
                    <a href="/logout">Log out</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="header-offset"></div><!-- header offset -->
