<header class="navbar navbar-fixed-top navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <div class="pull-left">
                <a href="" class="navbar-brand"> ConGo </a>
            </div>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".congo-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="collapse navbar-collapse congo-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs">
                    <p class="navbar-text">Logged in as ${ web.ctx.user.name }</p>
                </li>
                <li>
                    <a class="congo-info" href="#" role="button" data-toggle="modal" data-target="#congo-info-modal">
                        About
                    </a>
                </li>
                <li>
                    <a class="congo-info" href="#" role="button" data-toggle="modal" data-target="#congo-stats-modal">
                        Game Info
                    </a>
                </li>
                <li>
                    <a class="congo-info" href="/sgf">Download SGF</a>
                </li>
                <li>
                    <a href="/logout">Log out</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="header-offset"></div><!-- header offset -->
