$def with ()

<div class="jumbotron congo-hero">
    <div class="congo-hero-image"></div>
    <div class="container">

<div class="row">
    <div class="col-xs-12">
        <h1>ConGo</h1>
        <h3 class="hidden-xs">Massively Multiplayer Consultation Go Server</h3>
        <p>One game, two teams, everyone plays.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-success btn-lg" href="#" role="button" data-toggle="modal" data-target="#congo-signup-modal">Sign Up</a>
        <a class="btn btn-success btn-lg" href="#" role="button" data-toggle="modal" data-target="#congo-login-modal">Log In</a>
    </div>
</div>

    </div>
</div>

<div id="congo-signup-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Sign Up</h4>
            </div>
            <div class="modal-body">
                $:{render.sign_up()}
            </div>
        </div>
    </div>
</div>

<div id="congo-login-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                $:{render.login()}
            </div>
        </div>
    </div>
