<div id="congo-info-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">About ConGo</h4>
            </div>
            <div class="modal-body">

                <h5>What is this?!</h5>
                <p>
                    ConGo is a new go server for massive multiplayer
                    consultation go. There is only one game being
                    played at a time. Each player is automatically added
                    to either the black or the white team. Every member on
                    each team gets to vote on the next move. The move
                    with the most votes is chosen.
                </p>
                <br/>
                <h5>OK, but how do we actually play?</h5>
                <p>
                    Simply sign up with a nice user name and an accurate
                    rating; you will be automatically added to a team.
                    When it is your turn, click on the board to vote on a move
                    or see others' comments about this move. Your vote is
                    shown in the green circle.
                </p>
                <p>
                    When you vote, try to leave a helpful comment about why
                    this particular move is the best. This is a good learning
                    tool for weaker players to see the reasoning behind moves.
                    If others' comments have swayed your decision, you can
                    change your vote by simply clicking on another point on
                    the board.
                </p>
                <p>
                    At midnight Pacific Time each night, the turn will end,
                    and the move with the most votes will get chosen. The
                    other team will then have the chance to vote now.
                </p>
                <br/>
                <h5>Why?</h5>
                <p>
                    Because I can, and because I think watching good players
                    play is great way to get better at this game. The problem
                    is that better players typically don't face the same
                    positions that we do. This game format forces players to
                    choose the positions they would like to play and explain
                    their moves.
                </p>
                <br/>
                <h5>Questions, Comments?</h5>
                <p>
                    Visit our subreddit
                    <a href="http://reddit.com/r/congoserver" target="_blank">
                        /r/ConGoServer
                    </a>
                </p>
                <p>
                    Hit me up on twitter
                    <a href="https://twitter.com/intent/tweet?screen_name=justecorruptio" target="_blank">
                        @justecorruptio
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
