$def with ()

$var deferjs:
    <script>
        var game_info = {
            player_color: $:{ web.ctx.game.player_color },
            view_seq: $:{ web.ctx.game.current_seq },
            current_seq: $:{ web.ctx.game.current_seq },
            voted_move: '$:{ web.ctx.game.voted_move }',
            your_turn: $:{ web.ctx.game.your_turn }
        };
    </script>
    <script src="/static/board.js?v=$:{web.ctx.version}"></script>
    <script src="/static/sgf.js?v=$:{web.ctx.version}"></script>
    <script src="/static/chat.js?v=$:{web.ctx.version}"></script>

$:render.header()

<div class="container congo-container-main">
<div class="row">

<!--BOARD-->
<!--<div class="col-xs-12 col-sm-8 col-md-7 col-lg-6 col-lg-offset-1">-->
<div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">

<div class="row"><div class="col-xs-12">
    <div class="sgf-container">
        <div class="sgf-board-wrapper">
            <div class="sgf-board-wrapper-inner">
                <div class="sgf-board"></div>
            </div>
        </div>
    </div>
</div></div>
<div class="row v-pad-1 ff-board-info-fix"><div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pull-left">
                <a class="review-backward-button" href="">
                    <span class="glyphicon glyphicon-step-backward"></span>
                </a>
                <b><span class="congo-info-seq"></span></b>
                <a class="review-forward-button text-muted" href="">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </a>
                <span class="visible-xs-inline">
                    <span class="congo-info-turn"></span>
                    Cap:
                    B <span class="congo-info-black-captures"></span>,
                    W <span class="congo-info-white-captures"></span>
                </span>
                <span class="hidden-xs">
                    <span class="congo-info-turn"></span>
                    Captures:
                    Black <span class="congo-info-black-captures"></span>,
                    White <span class="congo-info-white-captures"></span>
                </span>
            </div>
            <div class="pull-right">
                <a class="data-pane-label pass-button" data-pos="tt" href="">Pass</a>
            </div>
        </div>
    </div>
</div></div>

</div>


<!-- RIGHT COLUMN -->
<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
    <div class="panel panel-default">
        <div class="panel-body">
            <!-- XXX <div class="turn-info"></div> -->
            <b>Game Over: <a class="congo-info" href="#" role="button" data-toggle="modal" data-target="#congo-postgame-modal">White wins by resignation.</a></b>
        </div>
    </div>

    <div class="panel panel-default hidden-xs congo-top-votes-panel" style="display:none;">
        <div class="panel-heading hidden-sm">
            <h3 class="panel-title">Top Votes</h3>
        </div>
        <table class="table">
            <tbody class="congo-votes-table"></tbody>
        </table>
    </div>

    <div class="panel panel-default hidden-xs">
        <div class="panel-body congo-chat-panel">
            $:render.chat()
        </div>
    </div>

    <div class="panel panel-default congo-system-message-panel hidden-xs" style="display:none;">
        <div class="panel-body congo-system-message">
        </div>
    </div>

    <a class="btn btn-info btn-sm visible-xs" href="" role="button" data-toggle="modal" data-target="#congo-chat-modal">
        Open Chat
    </a>

</div>


</div>
</div>


<div id="congo-vote-modal" class="modal fade" role="dialog">
    <div class="congo-vote-dialog modal-sm" role="document">

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-4 col-sm-offset-8 col-md-5 col-md-offset-7 col-lg-5">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><span class="congo-vote-title"></span></h4>
            </div>
            <!-- XXX
            <div class="congo-vote-form-pane modal-body">
                $:render.vote()
            </div>
            -->
            <div class="modal-body">
                <h4>Comments (<span class="congo-vote-count"></span> votes)</h4>
                <dl class="congo-votes-others"></dl>
            </div>
        </div>

</div>
</div>
</div>

    </div>
</div>

<div id="congo-chat-whois-online-modal" class="modal fade" role="dialog">
    <div class="congo-vote-dialog modal-sm" role="document">

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-4 col-sm-offset-8 col-md-5 col-md-offset-7 col-lg-5">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Currently Online</h4>
            </div>
            <div class="congo-whois-online-pane modal-body">
            </div>
        </div>

</div>
</div>
</div>

    </div>
</div>


<div id="congo-chat-modal" class="modal" role="dialog">
    <div class="congo-chat-dialog modal-sm" role="document">

<div class="container v-pad-1">
<div class="row">
<div class="col-xs-12">

        <div class="modal-content">
            <div class="modal-header">
                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <h4 class="modal-title">Chat</h4>
            </div>
            <div class="congo-chat-modal-body modal-body">
            </div>
        </div>

</div>
</div>
</div>

    </div>
</div>
$:render.stats()
