$def with ()

$:render.header()

<div class="container">
<div class="row">

<div class="col-xs-12 col-sm-9">

<div class="sgf">
    <div class="sgf-container">
        <div class="sgf-board-wrapper">
            <div class="sgf-board-wrapper-inner">
                <div class="sgf-board">
                    <div class="sgf-row">
                        <div class="sgf-cell">
                            <div class="sgf-point sgf-empty">
                            </div>
                        </div>
                        <div class="sgf-cell">
                            <div class="sgf-point sgf-empty">
                            </div>
                        </div>
                    </div>

                    <div class="sgf-row">
                        <div class="sgf-cell">
                            <div class="sgf-point sgf-white">
                            </div>
                        </div>
                        <div class="sgf-cell">
                            <div class="sgf-point sgf-empty">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<div class="col-xs-12 col-sm-3">

SIDEBAR

</div>


</div>
</div>
