$def with ()

$var deferjs:
    <script>
        var game_info = {
            player_color: $:{ web.ctx.game.player_color },
            current_seq: $:{ web.ctx.game.current_seq },
            voted_move: '$:{ web.ctx.game.voted_move }',
            your_turn: $:{ web.ctx.game.your_turn }
        };
    </script>
    <script src="/static/board.js"></script>

$:render.header()

<div class="container">
<div class="row">

<!--BOARD-->
<div class="col-xs-12 col-sm-8 col-md-7 col-lg-6 col-lg-offset-1">

<div class="row"><div class="col-xs-12">
    <div class="sgf-container">
        <div class="sgf-board-wrapper">
            <div class="sgf-board-wrapper-inner">
                <div class="sgf-board"></div>
            </div>
        </div>
    </div>
</div></div>
<div class="row v-pad-1 ff-board-info-fix"><div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="congo-board-info pull-left"></div>
            <div class="pull-right">
                <a class="data-pane-label pass-button" data-pos="tt" href="">Pass</a>
            </div>
        </div>
    </div>
</div></div>

</div>


<!-- RIGHT COLUMN -->
<div class="col-xs-12 col-sm-4 col-md-5 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="turn-info"></div>
        </div>
    </div>

    <div class="panel panel-default hidden-xs congo-top-votes-panel" style="display:none;">
        <div class="panel-heading">
            <h3 class="panel-title">Top Votes</h3>
        </div>
        <table class="table">
            <tbody class="congo-votes-table"></tbody>
        </table>
    </div>

    <div class="panel panel-default congo-system-message-panel hidden-xs" style="display:none;">
        <div class="panel-body congo-system-message">
        </div>
    </div>

</div>


</div>
</div>


<div id="congo-vote-modal" class="modal fade" role="dialog">
    <div class="congo-vote-dialog modal-sm" role="document">

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-4 col-sm-offset-8 col-md-5 col-md-offset-7 col-lg-4">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><span class="congo-cast-word"></span> Vote</h4>
            </div>
            <div class="modal-body">
                $:render.vote()
            </div>
            <div class="modal-body">
                <h4>Comments (<span class="congo-vote-count"></span> votes)</h4>
                <dl class="congo-votes-others"></dl>
            </div>
        </div>

</div>
</div>
</div>

    </div>
</div>
$:render.stats()
