<div id="congo-postgame-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Game Over!</h4>
            </div>
            <div class="modal-body">

                <h5>White Wins!</h5>
                <p>
                    After 178 moves, the black team has voted to end the game by
                    resignation. Congratulations to the white team on their
                    victory! It was an intense game with a fairly technical
                    opening and a grueling middle game riddled with large trades.
                </p>
                <p>
                    I want to show my appreciation to all of the participants
                    on both sides, from strong Dan players giving invaluable
                    advice to newer players looking who have immersed themselves
                    into this game.
                </p>
                <br/>
                <h5>What Next?</h5>
                <p>
                    For the time being, the site will be up and running, so that
                    everyone may view the move sequence on the board, the chat
                    will still be open for use, and the SGF can still be
                    downloaded for viewing on a better (yes, I know) game
                    replay app. Voting and commenting have been disabled.
                </p>
                <p>
                    As promised, the game will be reviewed by Jiang MingJiu
                    7 Dan Professional. We should have this done within a couple
                    of weeks; Mr. Jiang's schedule permitting. I will also release
                    some comprehensive statistics about this game in a pretty
                    infographic.
                </p>
                <p>
                    We will once again go into a short period of furious development
                    on the server in anticipation of the next game. Expect the
                    experience in the next game to be even better!
                </p>
                <p>
                    If you have would like to be notified about when the next
                    game starts, of Jiang MingJiu's review, or have any feedback
                    about ConGo, please fill out this survey:
                    <a href="https://www.surveymonkey.com/r/RMHFC8Z" target="_blank">
                        Survey Monkey
                    </a>
                </p>
                <br/>
                <h5>Some More Words</h5>
                <p>
                    Once again, I have found that a busy schedule hasn't permitted
                    me to give this community of players, bug reporters, and open
                    source contributors the attention it deserves. With the coming
                    hiatus, I will try much harder to improve my responsiveness
                    and transparency that you all are duly owed.
                    <br/>
                    <br/>
                    Sincerely,
                    <br/>&nbsp;&nbsp;&nbsp;&nbsp;Jay
                </p>
                <br/>
                <h5>Question, Comment?</h5>
                <p>
                    Visit our subreddit
                    <a href="http://reddit.com/r/congoserver" target="_blank">
                        /r/ConGoServer
                    </a>
                </p>
                <p>
                    Hit me up on Twitter
                    <a href="https://twitter.com/intent/tweet?screen_name=justecorruptio" target="_blank">
                        @justecorruptio
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
