<div id="congo-postgame-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Game Over!</h4>
            </div>
            <div class="modal-body">

                <h5>White Wins!</h5>
                <p>
                    So it looks like the black team has, in accordance with the
                    ConGo voting rules, elected to end the game by
                    resignation. Congratulations to the white team on their
                    victory! I want to thank both sides for their amazing time
                    and effort dedicated to this endeavor; from high level players
                    explaing complicated variations, to the participation of
                    newer players seeking a better understanding of the game.
                    I especially want to call out the black team's unending
                    tenacity in fighting.
                </p>
                <br/>
                <h5>What Next?</h5>
                <p>
                    For the time being, the site will be up and running, so that
                    everyone may view the move sequence on the board, the chat
                    will still be open for use, and the SGF can still be
                    downloaded for viewing on a better (yes, I know) game
                    replay app. Voting and commenting will be disabled.
                </p>
                <p>
                    As promised, the game will be reviewed by Jiang MingJiu
                    7 Dan Professional. We should have this done within a week;
                    Mr. Jiang's schedule permitting. I will also release some
                    comprehensive statics about this game in a pretty
                    infographic.
                </p>
                <p>
                    The plan going forward is to put the server on hiatus for a
                    couple of weeks while I sort through the backlog of bugs and
                    feature request to fix as much as I can. When you come back,
                    we'll have a shiny revamped version of ConGo!
                </p>
                <p>
                    If you have would like to be notified about when the next
                    game starts, of Jiang MingJiu's review, or have any feedback
                    about ConGo, please fill out this survey:
                    <a href="https://www.surveymonkey.com/r/3PF8CJ7" target="_blank">
                        Survey Monkey
                    </a>
                </p>
                <br/>
                <h5>Some More Words</h5>
                <p>
                    I must apologize to this community for a bit of neglect on
                    my part, because of real life stuff. The lack of a "resign"
                    button is one clear fault of mine. I want to deeply thank
                    those of you who have reported bugs to me, and helped me do
                    QA, and beta tested the site, and managed the
                    Facebook page, and have kept this first experiment thriving
                    to completion.
                    <br/>
                    <br/>
                    Sincerely,
                    <br/>&nbsp;&nbsp;&nbsp;&nbsp;Jay
                </p>
                <br/>
                <h5>Question, Comment?</h5>
                <p>
                    Visit our subreddit
                    <a href="http://reddit.com/r/congoserver" target="_blank">
                        /r/ConGoServer
                    </a>
                </p>
                <p>
                    Hit me up on twitter
                    <a href="https://twitter.com/intent/tweet?screen_name=justecorruptio" target="_blank">
                        @justecorruptio
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
