$def with ()

<div class="container-fluid">
<div class="row">
<div class="col-md-12">

<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" name="name" placeholder="Name">
    </div>

    <div class="form-group">
        <label for="rating">Rating</label>
        <input class="form-control" id="rating" name="rating" placeholder="eg. 15k, 1d">
    </div>

    <div class="form-group">
        <label for="passwd">Password</label>
        <input type="password" class="form-control" id="passwd" name="passwd" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Sign Up!</button>
</form>

</div>
</div>
</div>
