<div id="congo-stats-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Game Info</h4>
            </div>
            <div class="modal-body">
                <div class="container congo-stats-container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Fun Facts</h4>
                            Number of players:
                            <b><span class="congo-num-players"></span></b>
                            <br/>
                            Total votes cast:
                            <b><span class="congo-num-votes"></span></b>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Teams</h4>
                        </div>
                        <div class="col-xs-6">
                            <h5>White</h5>
                            <p class="congo-white-team">
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <h5>Black</h5>
                            <p class="congo-black-team">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
