<form id="congo-vote-form">
    <div class="form-group">
        <label class="hidden-xs" for="name">Note</label>
        <textarea class="form-control" name="notes" rows=3 placeholder="Add a helpful note on why this move is good." maxlength="999"></textarea>
    </div>
    <input type="hidden" name="pos"></input>

    <button type="submit" class="btn btn-primary">Vote</button>
    <button class="btn btn-warning congo-comment-button">Comment Only</button>
    <span class="pull-right visible-xs">
        Votes:
        <span class="congo-vote-count"></span>
    </span>
</form>
